<div id="outline" class="fixed h-full w-1/6 border-r-2 border-[#333333] bg-[#101010] text-[#dedede] p-4 mt-8">
    <div class="text-xl flex items-center text-[#FFFFFF] overflow-x-clip">Outline<span id="addPage" class="ml-2 mb-1 cursor-pointer hover:text-[#62BAF3] text-2xl text-[#FFFFFF]">+</span></div>
    <ul id="outlinecontent" class="list-inside list-disk overflow-y-scroll h-full">
        <li class="text-[#888888] w-52 text-xl flex items-center" id="opagetitle"><p class="cursor-pointer whitespace-nowrap text-ellipsis overflow-hidden">Untitled Page</p></li>
    </ul>
</div>